// Positioning

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

// Flex

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

// Grid

.grid {
  display: grid;
}

.inline-grid {
  display: inline-grid;
}

.place-items-center {
  place-items: center;
}

// Block model

.gap-7 {
  gap: 7px;
}

.gap-15 {
  gap: 15px;
}

.gap-30 {
  gap: 30px;
}

// Typography

.text-center {
  text-align: center;
}

// Transitions

.transition-colors {
  transition-property: color, background-color;
  transition-duration: var(--transition-duration);
}

// Other

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  overflow: hidden;
}
